<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/header') %>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <h1>An Error Occurred</h1>
    <p><%= message %></p>
    <a href="/" class="btn btn-primary">Go Back Home</a>
    <%- include('./partials/footer') %>
  </body>
</html>
