<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/header') %>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <h1>Welcome to the Blog</h1>
    <a href="/posts" class="btn btn-primary">View Posts</a>
    <a href="/add-post" class="btn btn-success">Add Post</a>
    <%- include('./partials/footer') %>
  </body>
</html>
